/* Header */

@import '../base/mixin';

header {
    background-image: linear-gradient(to top, #4cb4ad, #DFFEFC);
    border-radius: 10px;

    nav {
        overflow: hidden;

        div {

            .tittle {
                @include font (30px);
                color: rgb(151, 70, 161) !important;
            }


            ul {
                li {
                    a {
                        @include font (12px);
                    }
                }
            }

            span {
                a {
                    text-decoration: none;
                    @include font (15px);
                    opacity: 60%;
                }
            }
        }

    }

    @media screen and (min-width:451px) {
        nav {
            div {
                .tittle {
                    @include font (40px);
                }

                ul {
                    li {
                        a {
                            @include font (15px);
                        }
                    }
                }
            }
        }
    }


    @media screen and (min-width: 768px) {
        nav {
            div {
                .tittle {
                    @include font (45px);
                }

                ul {
                    li {
                        a {
                            @include font (20px);
                        }
                    }
                }
            }
        }
    }

}